.list-group-item{
  font-weight: normal;
  color: #606060;
}

.list-group-item:hover{
  font-weight: bold;
  color:#006847;
  cursor:pointer;
}

#miAudio{
  width: 100%;
  margin: 5% 0 0;
}
#nombreMiAudio{
  display: block;
  width: 100%;
  text-align: right;
  font-weight: bolder;
}