#servicios{
  margin-bottom:5%;
}

.servicio h2{
  position: relative;
  width: 40%;
  margin: 5% auto;
  font-size: 2em;
  font-weight: bolder;
}

.servicio h3{
  color:#006847;
  font-weight: bolder;
}

.servicio .col-xs-12 {
  padding:0;
}


.servicio h2::before{
  content: '';
  width: 60%;
  height: 10px;
  background-color: #006847;
  position: absolute;
  left: 20%;
  bottom: -15px;
}


.carousel-control.right,
.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0) 0,rgba(0,0,0,.000) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0) 0,rgba(0,0,0,.000) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0) 0,rgba(0,0,0,.000) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
    background-repeat: no-repeat;
}